@import "@/app/styles/vars";

.CardSection {
  background-color: $confident-dark;
  padding: 70px 0;
  border-bottom: 1px solid $darkBorder-100;
  @include responsive(sm) {
    padding: 60px 0;
  }
  .inner {
    display: flex;
    gap: 50px;
    margin: 30px auto 20px;
    width: 75%;
    @include responsive(xl) {
      width: 75%;
    }
    @include responsive(lg) {
      width: 80%;
    }

    @include responsive(md) {
      width: 90%;
    }
    @include responsive(sm){
        margin: 10px auto;
    }
    .textWrap {
      width: 100%;

      .subHeading {
        color: $lightGray;
        font-size: 13px;
        font-weight: 400;
        font-family: $inter;
        margin-bottom: 20px;
        display: block;
        line-height: 2em;
        text-transform: uppercase;
      }

      .heading {
        margin-bottom: 80px;
        font-size: 70px;
        font-weight: 400;
        color: $white;
        line-height: 1.3em;
        font-family: $inter;

        @include responsive(xl) {
          font-size: 60px;
          max-width: 80%;
        }

        @include responsive(md) {
          font-size: 55px;
          margin-bottom: 50px;
          max-width: 94%;
        }

        @include responsive(sm) {
          font-size: 50px;
        }
        @include responsive(xs) {
          max-width: 100%;
          font-size: 38px;
        }
      }

      .cards {
        display: flex;
        border: 1px solid $darkBorder-100;
        border-radius: 12px;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 20px;
        overflow: hidden;

        &.centeredCards {
          @include responsive(md) {
            justify-content: center;

            .card {
              &:last-of-type {
                border-left: none;
              }
            }
          }
        }

        .card {
          background-size: 20px 20px;
          background-color: $confident-dark;
          border-right: 1px solid $lightGray-500;
          background-image: radial-gradient(
            rgba(255, 255, 255, 0.105) 1px,
            transparent 1px
          );
          padding: 35px 20px 20px 25px;
          display: flex;
          background-position: 0px 0px;
          flex-direction: column;
          gap: 14px;
          transition: all 0.5s ease;
          justify-content: center;
          &:last-of-type {
            border: none;
          }
          &:hover {
            background-color: $darkBlue;
            background-position: 6px -6px;
            .cardHeading {
              svg {
                transform: translateX(5px) translateY(-5px);
              }
            }
          }

          @include responsive(md) {
            width: 100% !important;
            border-bottom: 1px solid $lightGray-500;
            border-right: none;
            padding: 25px;
            display: flex;
            flex-direction: column;
            padding: 20px 20px 20px 25px;
          }

          @include responsive(xs) {
            width: 100% !important;

            &:first-child {
              border-right: none;
            }

            &:last-of-type {
              border-left: none;
            }
          }

          .cardHeading {
            font-size: 24px;
            font-weight: 400;
            font-family: $inter;
            color: $white;
            display: flex;
            gap: 12px;
            line-height: 1.3em;
            svg {
              transition: transform 0.4s ease;
            }
          }

          .cardDescription {
            color: $lightGray-100;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.8em;
            font-family: $inter;
            margin-bottom: 16px;
          }
        }
      }

      .buttonWrap {
        display: flex;
        align-items: center;
        gap: 20px;

        @include responsive(md) {
          justify-content: center;
        }
      }
    }
  }
}
