@import '../../../app/styles/vars';

.Banner {
    padding: 140px 0;
    background-image: radial-gradient(circle farthest-corner at 4% -20%, #9764ff, #6e00ff 23%);
    height: 800px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include responsive(md){
        height: 600px;
    }
    .inner {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        .textWrap {
            width: 95%;
            margin: 0 auto;

            .heading {
                font-family: 'Inter', sans-serif;
                font-size: 70px;
                font-weight: 400;
                color: $white;
                line-height: 1.222em;
                margin-bottom: 16px;

                @include responsive(xl) {
                    font-size: 62px;
                    max-width: unset;
                    margin-bottom: 16px;
                }

                @include responsive(lg) {
                    font-size: 52px;
                    max-width: unset;
                }

                @include responsive(sm) {
                    font-size: 32px;
                    max-width: unset;
                    text-align: center;
                }
            }

            .description {
                font-size: 25px;
                color: $white;
                font-family: 'Inter', sans-serif;
                max-width: 800px;
                margin-bottom: 40px;
                line-height: 1.5em;

                @include responsive(xl) {
                    font-size: 20px;
                    max-width: 72%;
                }

                @include responsive(sm) {
                    font-size: 14px;
                    max-width: unset;
                    line-height: 1.6em;
                    text-align: center;
                }

                @include responsive(xs) {
                    font-size: 12px;
                }
            }

            .btnWrap {
                display: flex;
                gap: 18px;
                @include responsive(md){
                    justify-content: center;
                }
                .btn {
                    padding: 15px 20px;
                    display: block;
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    transition: background-color 0.4s ease, color 0.4s ease;
                    line-height: 1.75em;
                    @include responsive(md){
                        line-height: 100%;
                        font-size: 12px;
                        text-align: center;
                        
                    }
                    &.contained {
                        background-color: $white;
                        border: 2px solid $black;
                        border-radius: 4px;
                        font-weight: 500;
                        color: $black;

                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }

                    &.containedInverted {
                        background-color: $darkPurple-500;
                        border: 1px solid $white;
                        font-weight: 600;
                        color: $white;

                        &:hover {
                            background-color: $white;
                            color: $black;
                        }
                    }
                }
            }

        }
    }

    .backgroundImage {
        width: 82%;
        min-width: 1000px;
        transition: opacity 0.2s;
        position: absolute;
        bottom: -21%;
        border-radius: 20px;
        right: -720px;
        z-index: -1;
        transform: rotateX(-48deg) rotateY(-4deg) rotate(-28deg);
        box-shadow: -80px 138px rgba(0, 0, 0, 0.3019607843);

        img {
            border-radius: 20px;
        }
    }
}

.BannerBottom {
    padding: 40px 20px 0;
    background-color: $darkBlue-900;

    .inner {
        max-width: 1180px;
        margin: 0 auto;
        border: 1px solid $black;
        border-bottom-color: $zinc-800;
        padding: 0 20px 20px;
        text-align: center;

        .heading {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.222em;
            color: $white;
            margin-bottom: 13px;
            font-family: 'Inter', sans-serif;

        }

        .description {
            font-family: 'Inter', sans-serif;
            color: $lightGray-10;
            text-align: center;
            width: 95%;
            font-size: 15px;
            line-height: 1.75em;
        }
    }
}