@import '../../../app/styles/vars';

.SecurityInsurance {
    background-color: $confident-dark;
    padding: 70px 0;
    border-bottom: 1px solid $darkBorder-100;
    background-image: radial-gradient(rgba(255, 255, 255, 0.105) 1px, transparent 1px);
    background-size: 20px 20px;

    .inner {
        display: flex;
        max-width: $container_xl;
        gap: 50px;
        padding: 0 6px;
        margin: 30px auto 20px;
        @include responsive(lg)  {
            padding: 0 16px;
        }
        @include responsive(md)  {
            padding: 0 32px;
        }

        .textWrap {
            width: 100%;

            @include responsive(md)  {
                text-align: center;
            }

            .subHeading {
                color: $lightGray;
                font-size: 13px;
                font-weight: 400;
                font-family: $inter;
                margin-bottom: 20px;
                display: block;
                text-transform: uppercase;
                line-height: 2em;
            }

            .heading {
                margin-bottom: 40px;
                font-size: 70px;
                font-weight: 400;
                color: $white;
                line-height: 1.3em;
                font-family: $inter;
                letter-spacing: 3px;

                @include responsive(md)  {
                    font-size: 36px;
                    max-width: unset;
                    margin-bottom: 40px;
                }

                @include responsive(sm) {
                    font-size: 32px;
                }
            }

            .securities {

                display: flex;
                flex-direction: column;
                border-radius: 12px;
                width: 100%;
                flex-wrap: wrap;
                margin-bottom: 35px;

                @include responsive(md)  {
                    flex-direction: row;
                    justify-content: center;
                }

                .security {
                    border-top: 1px solid $lightGray-500;
                    padding: 40px 0;
                    width: 100%;
                    display: flex;
                    gap: 80px;

                    @include responsive(md)  {
                        flex-direction: column;
                        max-width: 50%;
                        border: 1px solid $lightGray-500;
                        padding: 20px;
                        gap: 20px;
                        min-height: 200px;

                    }

                    @include responsive(xs) {
                        max-width: 100%;
                    }

                    .wrap {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        max-width: 400px;
                        width: 100%;

                        @include responsive(md)  {
                            max-width: unset;
                            width: 100%;
                            margin: 0;
                            flex-direction: column;
                        }

                        .iconOuter {
                            border: 1px solid $white;
                            width: fit-content;
                            padding: 2px;
                            border-radius: 24px;
                            height: 50px;
                            width: 84px;

                            .securityIcon {
                                background-color: $lightYellow;
                                border-radius: 24px;
                                border: 1px solid $black;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                height: 100%;
                                display: flex;
                            }

                        }

                        .securityHeading {
                            font-size: 21px;
                            font-weight: 500;
                            font-family: $inter;
                            color: $white;

                            @include responsive(md)  {
                                font-size: 18px;

                            }
                        }

                    }


                    .securityDescription {
                        color: $lightGray;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.8em;
                        font-family: $inter;
                        max-width: 87%;
                        text-align: left;
                        display: flex;
                        align-items: center;

                        @include responsive(md)  {
                            width: 100%;
                            max-width: 100%;
                            text-align: center;
                        }

                        @include responsive(sm) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}