@import '@/app/styles/colors.scss';

.NewHeader {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #363636;
    background-color: #0a0b14d1;
    padding: 0 8px;
    z-index: 99;

    &.active {
        background-color: #0a0b14;
    }

    .inner {
        display: flex;
        max-width: 1680px;
        width: 100%;
        margin: 0 auto;
        padding: 12px 0;
        justify-content: space-between;

        .logoWrap {
            display: flex;
            gap: 10px;
            width: 100%;
            max-width: 20%;

            @media (max-width: 991px) {
                max-width: unset;
            }

            .span {
                font-family: Lexend Deca, sans-serif;
                font-size: 19px;
                font-weight: 300;
                letter-spacing: 1px;
                color: white;
                line-height: 100%;
                display: flex;
                align-items: center;
            }
        }



        .linkWrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 60%;
            z-index: -1;

            @media (max-width: 991px) {
                position: absolute;
                max-width: unset;
                width: 100%;
                height: 100vh;
                justify-content: flex-start;
                align-items: flex-start;
                top: -100%;
                padding: 25px;
                background: #0b101b;
                left: 0;
                opacity: 0;
                visibility: none;
                pointer-events: none;
                transition: top ease 0.5s, opacity ease 0.5s;
                z-index: -1;

                &.active {
                    top: 57px;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }

            .nav {
                display: flex;
                align-items: center;
                gap: 32px;
                height: 100%;

                @media (max-width: 991px) {
                    flex-direction: column;
                    gap: 8px;
                    align-items: flex-start;
                    width: 100%;
                    height: auto;
                }

                .navLink {
                    color: #fff;
                    font-family: "Inter", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.125em;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .navItemWithPopover {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;

                    @media (max-width: 991px) {
                        display: none;
                    }

                    svg {
                        margin-left: 8px;
                        transition: all ease 0.18s;
                    }

                    &:hover {
                        svg {
                            rotate: 180deg;
                        }
                    }

                    &:hover .popover,
                    &:focus-within .popover {
                        transition: all ease 0.18s;
                        opacity: 1;
                        pointer-events: auto;
                        top: 100%;
                    }

                    .popover {
                        border: 1px solid #6e00ff;
                        background-color: #0b101b;
                        border-radius: 9px;
                        justify-content: space-between;
                        padding: 1.5rem 2rem;
                        display: block;
                        width: 500px;
                        position: absolute;
                        pointer-events: none;
                        left: 0;
                        opacity: 0;
                        top: 200%;
                        transition: all ease 0.18s;

                        .popoverLink {
                            color: #fff;
                            font-size: 15px;
                            font-family: Lexend Deca, sans-serif;
                            border-radius: 6px;
                            text-decoration: none;
                            transition: all ease 0.18s;
                            margin-bottom: 32px;
                            display: block;

                            &:last-of-type {
                                margin-bottom: 0;
                            }

                            .childLinkHeading {
                                font-family: "Inter", sans-serif;
                                font-weight: 300;
                                font-size: 16px;
                                margin-bottom: 8px;
                            }

                            .childLinkDescription {
                                font-family: "Inter", sans-serif;
                                font-weight: 400;
                                font-size: 14px;
                                color: #737b89;
                            }
                        }
                    }
                }
            }
        }

        .buttonWrap {
            display: flex;
            gap: 10px;
            align-items: center;
            width: 100%;
            max-width: 20%;
            justify-content: flex-end;

            .githubButton {
                display: flex;
                align-items: center;
                display: flex;
                gap: 2px;
                padding: 4px 8px;
                border: 1px solid #737b89;

                @media (max-width: 991px) {
                    display: none;
                }

                .githubIconContainer {
                    width: fit-content;
                    border-radius: 100%;
                    padding: 2px 0;
                    margin-right: 2px;

                    svg {
                        fill: #fff;
                    }
                }

                span {
                    color: white;
                    font-family: "Inter", sans-serif;
                    font-size: 12px;
                    line-height: 100%;
                }
            }

            .loginButton {
                height: 100%;
                margin-left: 24px;

                @media (max-width: 991px) {
                    display: none;
                }

                a {
                    height: 100%;
                    padding: 4px 30px;
                    border: 1px solid #6e00ff;
                    border-radius: 20px;
                    color: white;
                    font-size: 14px;
                    display: block;
                    font-weight: 500;

                }
            }

            .dropDownBtn {
                width: 25px;
                height: 25px;
                display: none;

                @media (max-width: 991px) {
                    display: block;
                }

                .bar1,
                .bar2,
                .bar3 {
                    display: block;
                    width: 100%;
                    height: 2px;
                    border-radius: 2px;
                    background-color: #fff;
                    margin: 6px 0;
                    transition: 0.4s;
                }

                &.active {
                    .bar1 {
                        transform: rotate(-45deg) translate(-5px, 6px);
                    }

                    .bar2 {
                        opacity: 0;
                    }

                    .bar3 {
                        transform: rotate(45deg) translate(-5px, -6px);
                    }
                }
            }
        }
    }
}