@import '@/app/styles/colors.scss';

.customFooter {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 100%;

  @media (max-width: 768px) {
    row-gap: 0rem;
  }
}

.footerRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footerColumn {
  margin-bottom: 1.5rem;
  
  @media (min-width: 768px) {
    flex: 1;
    margin-bottom: 0;
  }
}

.companyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    flex: 2; // Give more space to company info column
    align-items: flex-start;
  }
}

.columnTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--nextra-primary-hue);
}

.linksList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linkItem {
  margin-bottom: 0.5rem;
}

.link {
  font-size: 0.875rem;
  color: var(--nextra-primary-hue-dark);
  transition: color 0.2s;
  
  &:hover {
    color: var(--nextra-primary-hue);
    text-decoration: underline;
  }
}

.logo {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
}

.companyName {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-bottom: 0.5rem;
}

.copyright {
  font-size: 13px;
  color: var(--nextra-secondary-text-color);
  margin-bottom: 0.5rem;
}

.madeWithLove {
  font-size: 13px;
  color: var(--nextra-secondary-text-color);
  margin-bottom: 0.5rem;
}

.statusBadge {
  margin: 0.75rem 0;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.legalLinks {
  display: flex;
  gap: 1rem;
}

.legalLink {
  font-size: 0.75rem;
  color: var(--nextra-secondary-text-color);
  text-decoration: none;
  transition: color 0.2s;
  
  &:hover {
    color: var(--nextra-primary-hue);
    text-decoration: underline;
  }
}

.complianceBadges {
  display: flex;
  gap: 1rem;

  @media (max-width: 1050px) and (min-width: 769px) {
    flex-direction: column;
  }
}

.complianceBadge {
  object-fit: contain;
  border-radius: 4px;
  width: 110px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 $violet-500;
}

