@import "@/app/styles/vars";

@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marqueeContainer {
  background: $confident-dark;
  border-top: 1px solid $darkBorder-100;
  border-bottom: 1px solid $darkBorder-100;
  overflow: hidden;
  padding: 40px 24px;

  .inner {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto;

    .trustedBy {
      color: $lightGray-10;
      font-size: 12px;
      font-weight: 500;
      font-family: $inter;
      margin: 0 auto;
      text-align: center;
      line-height: 1.143em;
      @include responsive(xl){
        margin-bottom: 20px;
      }
    }

    .marquee {
      display: flex;
      overflow: hidden;
      width: 100%;
      padding: 17.5px 0;
      position: relative;
      z-index: 1;
      margin-bottom: 30px;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(90deg, $confident-dark, #fff0);
        height: 100%;
        z-index: 2;
        width: 10%;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(270deg, $confident-dark, #fff0);
        height: 100%;
        z-index: 2;
        width: 10%;
      }

      .MarqueeBar1,
      .MarqueeBar2 {
        display: flex;
        flex-shrink: 0;
        white-space: nowrap;
        animation: scrollMarquee 20s linear infinite reverse;
        transform: translateX(-100%);

        img {
          width: 45px;
          height: 45px;
          object-fit: contain;
          margin: 0 64px;
        }
      }
    }

    .socialProofsContainer {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      width: 745px;
      gap: 50px;
      @include responsive(lg) {
        width: 728px;
        margin-left: auto;
        margin-right: auto;
      }
      @include responsive(md) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      @include responsive(sm) {
        flex-direction: column;
        gap: 28px;
        align-items: center;
        width: fit-content;
      }

      .socialProof {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        min-height: 78px;
        @include responsive(sm){
          min-height: unset;
        }
        span {
          font-family: "IBM Plex Mono", monospace;
          font-size: 34px;
          width: 100%;
          min-width: 153px;
          line-height: 100%;
          display: block;
          margin-bottom: 5px;

          @include responsive(md) {
            font-size: 26px;
            min-width: unset;
          }
          @include responsive(xs) {
            font-size: 22px;
          }
        }

        .proofsTitle {
          color: $lightGray-100;
          font-size: 12px;
          font-family: $inter;
          line-height: 1.75em;
        }
      }
    }
  }
}