@import '../../../app/styles/vars';

.textSection {
    background-image: radial-gradient(rgba(255, 255, 255, 0.105) 1px, transparent 1px);
    background-size: 20px 20px;
    padding: 70px 0;
    border-bottom: 1px solid #363636;

    .inner {
        display: flex;
        max-width: 1440px;
        gap: 50px;
        padding: 0 6px;
        margin: 30px auto 20px;

        @include responsive(lg)  {
            padding: 0 16px;
        }

        @include responsive(md)  {
            padding: 0 32px;
        }

        .textWrap {
            @include responsive(md)  {
                text-align: center;
                width: 100%;
            }

            .subHeading {
                color: #c9ced6;
                margin-bottom: 20px;
                font-size: 13px;
                font-weight: 400;
                font-family: 'Inter', sans-serif;
                margin-bottom: 20px;
                display: block;
                text-transform: uppercase;
                @include responsive(sm){
                    font-size: 12px;
                }
            }

            .heading {
                margin-bottom: 40px;
                font-size: 60px;
                font-weight: 400;
                color: white;
                line-height: 1.3em;
                max-width: 80%;
                font-family: 'Inter', sans-serif;

                @include responsive(xxl)  {
                    font-size: 70px;
                }

                @include responsive(md)  {
                    font-size: 36px;
                    max-width: unset;
                    margin-bottom: 20px;
                }

                @include responsive(sm){
                    font-size: 28px;
                }
            }

            .description {
                color: #a9afba;
                font-size: 18px;
                font-weight: 300;
                line-height: 1.8em;
                font-family: 'Inter', sans-serif;
                margin-bottom: 36px;

                @include responsive(md)  {
                    font-size: 16px;
                    max-width: unset;
                }

                @include responsive(sm){
                    font-size: 12px;
                }

                b {
                    font-weight: bold;
                    color: #fff;
                }
            }


            .buttonWrap {
                display: flex;
                align-items: center;
                gap: 20px;

                @include responsive(md)  {
                    justify-content: center;
                }

                .btn {
                    font-family: 'Inter', sans-serif;
                    border-radius: 40px;
                    padding: 12px 30px;
                    font-weight: 500;
                    font-family: 'Inter', sans-serif;
                    color: white;
                    font-size: 14px;
                    display: block;

                    @media (max-width: 992px) {
                        font-size: 14px;
                        padding: 14px 22px;
                    }

                    @media (max-width: 768px) {
                        font-size: 12px;
                        padding: 10px 16px;
                        width: fit-content;
                        text-align: center;
                    }

                    &.outlined {
                        border: 2px solid #fff;
                        color: #fff;
                        font-weight: 500;
                        background-color: #000;
                        transition: background-color 0.475s, color 0.4s;

                        &:hover {
                            color: #000;
                            background-color: #fff;
                        }
                    }

                    &.contained {
                        border: 2px solid #000;
                        color: #000;
                        font-weight: bold;
                        background-color: #fff;
                        transition: box-shadow 0.4s ease-in-out, background-color 0.4s, color 0.4s, border-color 0.4s ease;
                        box-shadow: 0 0 5px #fff;

                        &:hover {
                            color: white;
                            box-shadow: unset;
                            border-color: #fff;
                            background-color: #0b101b;
                        }
                    }
                }
            }
        }
    }
}