@import "@/app/styles/vars";

.textSection {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.105) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
  padding: 70px 0;
  border-bottom: 1px solid $darkBorder-100;
  @include responsive(sm) {
    padding: 60px 0;
  }
  .inner {
    display: flex;
    width: 75%;
    gap: 50px;
    margin: 30px auto 20px;
    @include responsive(lg) {
      width: 80%;
    }
    @include responsive(md) {
      width: 90%;
    }

    .textWrap {
      @include responsive(md) {
        width: 100%;
      }

      .subHeading {
        color: $lightGray;
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 400;
        font-family: $inter;
        margin-bottom: 20px;
        display: block;
        text-transform: uppercase;
        line-height: 2em;
      }

      .heading {
        margin-bottom: 40px;
        font-size: 60px;
        font-weight: 400;
        color: $white;
        line-height: 1.316em;
        max-width: 80%;
        font-family: $inter;
        @include responsive(xxl) {
          font-size: 70px;
        }
        @include responsive(xl) {
          font-size: 60px;
        }
        @include responsive(md) {
          font-size: 55px;
          max-width: unset;
          margin-bottom: 10px;
        }
        @include responsive(sm) {
          font-size: 50px;
        }
        @include responsive(xs) {
          font-size: 38px;
        }
      }

      .description {
        color: $lightGray-100;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.8em;
        font-family: $inter;
        margin-bottom: 36px;
        max-width: 70%;
        @include responsive(xl){
          max-width: 90%;
        }
        @include responsive(md) {
          font-size: 16px;
        }

        @include responsive(sm) {
          font-size: 15px;
        }

        b {
          font-weight: bold;
          color: $white;
        }
      }

      .buttonWrap {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }
}
