/* .fern-card {
    background-color: white !important;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(163, 159, 167) !important;
    border-radius: 12px;
    transition: all 0.2s ease;
    color: rgba(0, 10, 38, 0.893)!important;
    box-shadow: 0 4px 0px #6a00ff;
}

.fern-card:hover {
  background-color: rgb(255, 255, 255) !important;
  transform: translateY(4px);
  box-shadow: none;
} */