.showCaseSection {
    background-image: radial-gradient(rgba(255, 255, 255, 0.105) 1px, transparent 1px);
    background-size: 20px 20px;
    padding: 70px 0;
    border-bottom: 1px solid #363636;

    .inner {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        gap: 50px;
        padding: 0 6px;
        margin: 0 auto;
        align-items: center;
        @media (max-width: 991px) {
            gap: 25px;
        }
        .textWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 80%;
            @media (max-width: 991px) {
                width: 100%;
            }

            .subHeading {
                color: #c9ced6;
                margin-bottom: 20px;
                font-size: 13px;
                font-weight: 400;
                font-family: 'Inter', sans-serif;
                margin-bottom: 20px;
                display: block;
                text-transform: uppercase;
            }

            .heading {
                margin-bottom: 40px;
                font-size: 64px;
                font-weight: 400;
                color: white;
                line-height: 1.3em;
                font-family: 'Inter', sans-serif;

                @media (max-width: 991px) {
                    font-size: 36px;
                }
            }

            .description {
                color: #a9afba;
                font-size: 18px;
                font-weight: 300;
                line-height: 1.8em;
                font-family: 'Inter', sans-serif;
                margin-bottom: 36px;

                @media (max-width: 991px) {
                    font-size: 16px;
                }
                @media (max-width: 767px){
                    font-size: 14px;
                }

                span {
                    font-weight: bold;
                    color: #fff;
                }
            }
        }

        .tabs {
            display: flex;
            background-color: #000;
            border-radius: 29px;
            justify-content: space-between;
            align-items: center;
            padding: 10px 15px;
            display: flex;
            width: 100%;
            max-width: 60%;
            margin: 0 auto 40px;
            border: 1px solid #363636;
            @media (max-width: 991px) {
                max-width: 100%;
            }
            @media (max-width: 767px) {
                flex-direction: column;
                width: fit-content;
                padding: 15px 10px;
                gap: 10px;
            }

            .tab {
                color: #737b89;
                background-color: #8585b600;
                border-radius: 20px;
                padding: 8.5px 15px;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;
                transition: background-color .2s, color .3s;
                text-align: center;
                @media (max-width: 991px) {
                     font-size: 12px;
                }

                &:hover {
                    background-color: #fff;
                    color: #000;
                }

                &.activeTab {
                    background-color: #fff;
                    font-weight: 500;
                    color: #000;
                }
            }
        }

        .imageWrap {
            width: 100%;
            max-width: 80%;
            margin: 0 auto;
            min-height: 961px;
            @media (max-width: 991px) {
                max-width: 100%;
                min-height: 456px;
            }

            .frame {
                width: 100%;
                padding: 10px;
                background-color: #000;
                border: 1px solid #a9afba;
                border-radius: 15px;

                .codeFrame {
                    background-image: linear-gradient(325deg, #0e0e13 81%, #ffffff14 80%, #fff0), linear-gradient(to bottom, #0e0e13, #0e0e13);
                    border: 1px solid #a9afba;
                    border-radius: 12px 12px 0 0;

                    .heading {
                        width: 100%;
                        background-color: #070a0e26;
                        white-space: nowrap;
                        font-family: "IBM Plex Mono", monospace;
                        font-size: 12px;
                        line-height: 1.4em;
                        padding: 10px 16px;
                        border-bottom: 1px solid #363636;
                        color: white;

                    }

                    .codeBlock {
                        color: #ffffff;
                        font-family: "IBM Plex Mono", monospace;
                        font-size: 12px;
                        padding: 20px;
                        border-radius: 10px;
                        white-space: pre-wrap;
                        max-width: 100%;
                        overflow: scroll;

                        .codeLine {
                            display: flex;
                            min-width: 991px;

                            .lineNumber {
                                color: #737b89;
                                width: 3%;
                                display: block;
                            }

                            code {
                                width: 97%;
                            }
                        }
                    }
                }
            }

            .video {
                border: 1px solid #a9afba;
                border-radius: 0 0 12px 12px;
                overflow: hidden;
                margin-top: 5px;
            }
        }



    }
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

// Code coloring classes
.keyword {
    color: #00a3d0;
}

.className {
    color: #fff;
}

.decorator {
    color: #fca7ff;
}

.quotes {
    color: #78fffe;
}

.string {
    color: #fff;
}

.declaration {
    color: #ff724c;
}

.inputOutputs {
    color: #ffa842;
}

.numbers {
    color: #ffe418;
}

.controlFlow {
    color: #00fbff;
}

.comment {
    color: #737b89;
    font-style: italic;
}