@import '@/app/styles/colors.scss';

.signUpButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  box-shadow: -5px 5px 0 #6912ff;
  transform: translateY(-5px) translateX(5px);
}

.signUpButton:hover {
  box-shadow: 0px 0px 0 #ffffff;
  transform: translateY(0px) translateX(10px);
}


@media (max-width: 1080px) {
  .signUpButton {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media (max-width: 500px) {
  .signUpButton {
    display: none;
  }
}